In [1]:
# importing libraries needed for data cleaning
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# loading in csv
f = pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts.csv")

In [3]:
# data preview
f.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,Methadone (T40.3),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Heroin (T40.1),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [4]:
# show how many rows/columns are in data
f.shape

(32736, 12)

In [5]:
# gather data column types and information
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32736 entries, 0 to 32735
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          32736 non-null  object
 1   Year                           32736 non-null  int64
 2   Month                          32736 non-null  object
 3   Period                         32736 non-null  object
 4   Indicator                      32736 non-null  object
 5   Data Value                     27149 non-null  object
 6   Percent Complete               32736 non-null  object
 7   Percent Pending Investigation  32736 non-null  float64
 8   State Name                     32736 non-null  object
 9   Footnote                       32736 non-null  object
 10  Footnote Symbol                32736 non-null  object
 11  Predicted Value                20750 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 3.0+ MB

In [6]:
# finding the datatype of the entire dataset
type(f['Data Value'])

pandas.core.series.Series

In [7]:
# seeing how many null values there are 
f['Data Value'].isnull().sum()

5587

In [8]:
f['Predicted Value'].isnull().sum()

11986

In [9]:
f.isnull().sum()

State                                0
Year                                 0
Month                                0
Period                               0
Indicator                            0
Data Value                        5587
Percent Complete                     0
Percent Pending Investigation        0
State Name                           0
Footnote                             0
Footnote Symbol                      0
Predicted Value                  11986
dtype: int64

In [10]:
# seeing what variables are in the column
f['Footnote'].value_counts()

Numbers may differ from published reports using final data. See Technical Notes.                                                                     20072
Underreported due to incomplete data.                                                                                                                 7077
Numbers may differ from published reports using final data. See Technical Notes.  Data not shown due to low data quality.                             4571
Numbers may differ from published reports using final data. See Technical Notes.  Data suppressed (<10).                                               403
Numbers may differ from published reports using final data. See Technical Notes.  Data suppressed (<10).  Data not shown due to low data quality.      298
Underreported due to incomplete data.  Data suppressed (<10).                                                                                          180
Underreported due to incomplete data.  Data not shown due to low data quality.                                                                         135
Name: Footnote, dtype: int64

In [11]:
f['Footnote Symbol'].value_counts()

**    25344
*      7392
Name: Footnote Symbol, dtype: int64

In [12]:
f['Period'].value_counts()

12 month-ending    32736
Name: Period, dtype: int64

In [13]:
f['Year'].value_counts()

2015    6336
2019    6336
2018    6336
2017    6336
2016    6336
2020    1056
Name: Year, dtype: int64

In [14]:
f['Month'].value_counts()

February     3168
January      3168
April        2640
October      2640
September    2640
May          2640
December     2640
August       2640
June         2640
July         2640
November     2640
March        2640
Name: Month, dtype: int64

In [15]:
f['State'].value_counts()

AZ    744
DC    744
MA    744
OR    744
OH    744
WV    744
NC    744
CA    744
DE    744
KS    744
MO    744
CT    744
GA    744
NY    744
NJ    744
NV    744
US    744
OK    744
WY    744
NH    744
TX    744
YC    744
MS    744
RI    744
VA    744
NM    744
VT    744
AK    744
KY    744
HI    744
IN    744
IL    744
WI    744
SC    744
MD    744
WA    744
SD    744
ME    744
IA    744
UT    744
TN    744
NE    186
AR    186
FL    186
ID    186
PA    186
LA    186
MI    186
CO    186
MT    186
MN    186
AL    186
ND    186
Name: State, dtype: int64

In [16]:
f['Indicator'].value_counts()

Number of Deaths                                                               3286
Percent with drugs specified                                                   3286
Number of Drug Overdose Deaths                                                 3286
Synthetic opioids, excl. methadone (T40.4)                                     2542
Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)    2542
Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)               2542
Cocaine (T40.5)                                                                2542
Opioids (T40.0-T40.4,T40.6)                                                    2542
Natural & semi-synthetic opioids (T40.2)                                       2542
Heroin (T40.1)                                                                 2542
Methadone (T40.3)                                                              2542
Psychostimulants with abuse potential (T43.6)                                  2542
Name: Indicator, dtype: int64

In [17]:
f['Percent Complete'].value_counts()

100      32688
99.5+       24
99.2        12
98.9        12
Name: Percent Complete, dtype: int64

In [18]:
f['Percent Pending Investigation'].value_counts()

0.000000    3681
0.201884      24
0.035770      24
0.055187      24
0.010792      24
            ...
0.077278       3
0.006727       3
0.282037       3
0.047509       3
0.031284       3
Name: Percent Pending Investigation, Length: 2898, dtype: int64

In [19]:
# filtering data that is not null
filter1 = pd.notnull(f['Data Value'])
filtereddatavalue = f[filter1]
filtereddatavalue.head(20)

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
8,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,Alaska,Numbers may differ from published reports usin...,**,126
10,AK,2015,April,12 month-ending,Percent with drugs specified,88.0952380952381,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
11,AK,2015,April,12 month-ending,Number of Deaths,"4,133",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
18,AK,2015,August,12 month-ending,Percent with drugs specified,87.9032258064516,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
21,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.0,Alaska,Numbers may differ from published reports usin...,**,124
22,AK,2015,August,12 month-ending,Number of Deaths,"4,222",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
25,AK,2015,December,12 month-ending,Number of Deaths,"4,193",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
27,AK,2015,December,12 month-ending,Percent with drugs specified,89.2561983471074,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
34,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.0,Alaska,Numbers may differ from published reports usin...,**,121
36,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127,100,0.0,Alaska,Numbers may differ from published reports usin...,**,127
42,AK,2015,February,12 month-ending,Number of Deaths,"4,084",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
45,AK,2015,February,12 month-ending,Percent with drugs specified,88.9763779527559,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
52,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,Alaska,Numbers may differ from published reports usin...,**,126
55,AK,2015,January,12 month-ending,Percent with drugs specified,89.6825396825397,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
56,AK,2015,January,12 month-ending,Number of Deaths,"4,034",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
65,AK,2015,July,12 month-ending,Percent with drugs specified,87.1794871794872,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
70,AK,2015,July,12 month-ending,Number of Deaths,"4,220",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
71,AK,2015,July,12 month-ending,Number of Drug Overdose Deaths,117,100,0.0,Alaska,Numbers may differ from published reports usin...,**,117
74,AK,2015,June,12 month-ending,Number of Drug Overdose Deaths,121,100,0.0,Alaska,Numbers may differ from published reports usin...,**,121
76,AK,2015,June,12 month-ending,Number of Deaths,"4,201",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [20]:
filtereddatavalue.shape

(27149, 12)

In [21]:
filtereddatavalue['Indicator'].value_counts()

Number of Deaths                                                               3286
Percent with drugs specified                                                   3286
Number of Drug Overdose Deaths                                                 3286
Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)    1986
Opioids (T40.0-T40.4,T40.6)                                                    1986
Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)               1982
Natural & semi-synthetic opioids (T40.2)                                       1977
Synthetic opioids, excl. methadone (T40.4)                                     1964
Heroin (T40.1)                                                                 1893
Cocaine (T40.5)                                                                1871
Psychostimulants with abuse potential (T43.6)                                  1839
Methadone (T40.3)                                                              1793
Name: Indicator, dtype: int64

In [22]:
filtereddatavalue['Predicted Value'].isnull().sum()

6572

In [23]:
filter2 = pd.notnull(f['Predicted Value'])
filteredpredictedvalue = f[filter2]
filteredpredictedvalue.head(20)

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
8,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,Alaska,Numbers may differ from published reports usin...,**,126
21,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.0,Alaska,Numbers may differ from published reports usin...,**,124
34,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.0,Alaska,Numbers may differ from published reports usin...,**,121
36,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127,100,0.0,Alaska,Numbers may differ from published reports usin...,**,127
52,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,Alaska,Numbers may differ from published reports usin...,**,126
71,AK,2015,July,12 month-ending,Number of Drug Overdose Deaths,117,100,0.0,Alaska,Numbers may differ from published reports usin...,**,117
74,AK,2015,June,12 month-ending,Number of Drug Overdose Deaths,121,100,0.0,Alaska,Numbers may differ from published reports usin...,**,121
85,AK,2015,March,12 month-ending,Number of Drug Overdose Deaths,125,100,0.0,Alaska,Numbers may differ from published reports usin...,**,125
98,AK,2015,May,12 month-ending,Number of Drug Overdose Deaths,125,100,0.0,Alaska,Numbers may differ from published reports usin...,**,125
109,AK,2015,November,12 month-ending,Heroin (T40.1),34,100,0.0,Alaska,Numbers may differ from published reports usin...,**,34
110,AK,2015,November,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",15,100,0.0,Alaska,Numbers may differ from published reports usin...,**,15
111,AK,2015,November,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",54,100,0.0,Alaska,Numbers may differ from published reports usin...,**,54
112,AK,2015,November,12 month-ending,Psychostimulants with abuse potential (T43.6),26,100,0.0,Alaska,Numbers may differ from published reports usin...,**,27
113,AK,2015,November,12 month-ending,Natural & semi-synthetic opioids (T40.2),48,100,0.0,Alaska,Numbers may differ from published reports usin...,**,48
115,AK,2015,November,12 month-ending,Number of Drug Overdose Deaths,115,100,0.0,Alaska,Numbers may differ from published reports usin...,**,115
117,AK,2015,November,12 month-ending,Methadone (T40.3),10,100,0.0,Alaska,Numbers may differ from published reports usin...,**,11
118,AK,2015,November,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",79,100,0.0,Alaska,Numbers may differ from published reports usin...,**,79
119,AK,2015,November,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",64,100,0.0,Alaska,Numbers may differ from published reports usin...,**,64
120,AK,2015,October,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",55,100,0.0,Alaska,Numbers may differ from published reports usin...,**,55
121,AK,2015,October,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",86,100,0.0,Alaska,Numbers may differ from published reports usin...,**,86

In [24]:
filteredpredictedvalue.shape

(20750, 12)

In [25]:
filteredpredictedvalue['Indicator'].value_counts()

Number of Drug Overdose Deaths                                                 3286
Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)    1997
Opioids (T40.0-T40.4,T40.6)                                                    1997
Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)               1996
Natural & semi-synthetic opioids (T40.2)                                       1990
Synthetic opioids, excl. methadone (T40.4)                                     1980
Heroin (T40.1)                                                                 1913
Cocaine (T40.5)                                                                1886
Psychostimulants with abuse potential (T43.6)                                  1872
Methadone (T40.3)                                                              1833
Name: Indicator, dtype: int64

In [26]:
filteredpredictedvalue['Data Value'].isnull().sum()

173

In [27]:
f[(f['Data Value'].notnull())&f['Predicted Value'].notnull()]

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
8,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126
21,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,124
34,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,121
36,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,127
52,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126
...,...,...,...,...,...,...,...,...,...,...,...,...
32729,YC,2020,January,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...","1,170",100,0.186803,New York City,Underreported due to incomplete data.,*,"1,187"
32732,YC,2020,January,12 month-ending,Heroin (T40.1),646,100,0.186803,New York City,Underreported due to incomplete data.,*,654
32733,YC,2020,January,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)","1,022",100,0.186803,New York City,Underreported due to incomplete data.,*,"1,040"
32734,YC,2020,January,12 month-ending,"Opioids (T40.0-T40.4,T40.6)","1,264",100,0.186803,New York City,Underreported due to incomplete data.,*,"1,281"
32735,YC,2020,January,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",432,100,0.186803,New York City,Underreported due to incomplete data.,*,438

In [28]:
# deleting the wordy/unhelpful columns
del f['Footnote']
del f['Footnote Symbol']
del f['Period']
f.head()

,State,Year,Month,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Predicted Value
0,AK,2015,April,Psychostimulants with abuse potential (T43.6),NaN,100,0.0,Alaska,NaN
1,AK,2015,April,Cocaine (T40.5),NaN,100,0.0,Alaska,NaN
2,AK,2015,April,Methadone (T40.3),NaN,100,0.0,Alaska,NaN
3,AK,2015,April,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.0,Alaska,NaN
4,AK,2015,April,Heroin (T40.1),NaN,100,0.0,Alaska,NaN

In [29]:
# saving the work as a csv file
f.to_csv("PartiallyCleanedData.csv")

**dropping all NaN**

In [30]:
# dropping the NaN in file
fff = f.dropna()
fff.head()

,State,Year,Month,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Predicted Value
8,AK,2015,April,Number of Drug Overdose Deaths,126,100,0.0,Alaska,126
21,AK,2015,August,Number of Drug Overdose Deaths,124,100,0.0,Alaska,124
34,AK,2015,December,Number of Drug Overdose Deaths,121,100,0.0,Alaska,121
36,AK,2015,February,Number of Drug Overdose Deaths,127,100,0.0,Alaska,127
52,AK,2015,January,Number of Drug Overdose Deaths,126,100,0.0,Alaska,126

In [31]:
# seeing how many rows/columns there are now
fff.shape

(20577, 9)

In [32]:
# confirming the data types in the data
fff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20577 entries, 8 to 32735
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          20577 non-null  object
 1   Year                           20577 non-null  int64
 2   Month                          20577 non-null  object
 3   Indicator                      20577 non-null  object
 4   Data Value                     20577 non-null  object
 5   Percent Complete               20577 non-null  object
 6   Percent Pending Investigation  20577 non-null  float64
 7   State Name                     20577 non-null  object
 8   Predicted Value                20577 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.6+ MB

In [33]:
# fixing the data value column to convert it into int type
fff['Data Value'] = fff['Data Value'].str.replace(',', '')
fff['Data Value'] = fff['Data Value'].astype(int)

In [34]:
# fixing the percent complete column to convert it into float type
fff['Percent Complete'] = fff['Percent Complete'].str.replace('+', '')
fff['Percent Complete'] = fff['Percent Complete'].astype(float)

In [35]:
# fixing the predicted value column to convert it into int type
fff['Predicted Value'] = fff['Predicted Value'].str.replace(',', '')
fff['Predicted Value'] = fff['Predicted Value'].astype(int)

In [36]:
# checking to make sure the columns are the right data types
fff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20577 entries, 8 to 32735
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          20577 non-null  object
 1   Year                           20577 non-null  int64
 2   Month                          20577 non-null  object
 3   Indicator                      20577 non-null  object
 4   Data Value                     20577 non-null  int64
 5   Percent Complete               20577 non-null  float64
 6   Percent Pending Investigation  20577 non-null  float64
 7   State Name                     20577 non-null  object
 8   Predicted Value                20577 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 1.6+ MB

In [37]:
# finding statistical calculations for the columns
fff.describe()

,Year,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
count,20577.000000,20577.000000,20577.000000,20577.000000,20577.000000
mean,2017.299995,1199.325363,99.998591,0.123051,1218.960052
std,1.483763,5042.060784,0.033766,0.166313,5117.793705
min,2015.000000,10.000000,98.900000,0.000000,10.000000
25%,2016.000000,89.000000,100.000000,0.017647,90.000000
50%,2017.000000,286.000000,100.000000,0.052672,289.000000
75%,2019.000000,695.000000,100.000000,0.159506,710.000000
max,2020.000000,72780.000000,100.000000,1.411568,74144.000000

In [38]:
# previewing the data columns
yearmonth = fff[['Year','Month', 'Data Value']].groupby(['Year'])
yearmonth.head()

     Year     Month  Data Value
8    2015     April         126
21   2015    August         124
34   2015  December         121
36   2015  February         127
52   2015   January         126
145  2016     April          35
146  2016     April          11
147  2016     April          95
148  2016     April          40
149  2016     April          68
288  2017     April          52
289  2017     April          16
291  2017     April          44
293  2017     April          78
294  2017     April         117
432  2018     April         102
433  2018     April          55
435  2018     April          48
437  2018     April          38
438  2018     April          11
577  2019     April          44
580  2019     April          45
581  2019     April          19
582  2019     April          78
583  2019     April          35
720  2020  February          73
721  2020  February          34
723  2020  February          53
725  2020  February         125
726  2020  February          60

In [41]:
fff.isnull().sum()

State                            0
Year                             0
Month                            0
Indicator                        0
Data Value                       0
Percent Complete                 0
Percent Pending Investigation    0
State Name                       0
Predicted Value                  0
dtype: int64

In [39]:
# saving the completely cleaned data as a csv file
fff.to_csv("CleanedData1.csv")